{% extends 'course/base/base.html' %}
{% load static %}

{% block about %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">About</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">About</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'course/img/IMG_0863.JPG' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Me</h5>
                        <h1>Innovative Way To Learn</h1>
                    </div>
                    <p>Virtual Reality (VR) technology creates a simulated environment that users can interact with,
                        providing a unique and immersive learning experience. In education, VR can be used to transport
                        students to virtual worlds that simulate historical events, scientific phenomena, or complex
                        concepts. For example, students studying history might virtually explore ancient civilizations,
                        while science students could conduct virtual experiments in an engaging learning environment.
                        This technology enhances experiential learning, allowing students to visualize abstract concepts
                        and engage with subject matter in a new way of teaching. It can be particularly beneficial in
                        fields where hands-on experience is challenging to provide in a traditional classroom
                        setting.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Testimonial</h5>
                <h1>What Say Our Teachers</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Hech qachon taslim bo'lmang</h4>
                            <img class="img-fluid mx-auto mb-3" src="{% static 'course/img/IMG_0863.JPG' %}" alt="">
                            <h5 class="m-0">Bunyod Razzoqov</h5>
                            <span> WEB Developer</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Agarda hayot sizga kulib boqmasa,siz hayotga kulib
                                qarang!😊</h4>
                            <img class="img-fluid mx-auto mb-3" src="{% static 'course/img/IMG_0863.JPG' %}" alt="">
                            <h5 class="m-0">Bunyod Razzoqov</h5>
                            <span>WEB Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


{% endblock %}