{% extends 'course/base/base.html' %}
{% load static %}
{% block contact %}

    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Comment</h5>
                <h1>Comment For Any Video</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5">
                        <div id="success"></div>
                        <form method="post" action="{% url 'contact'  %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">Your comment</label>
                            <textarea name="text" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>

                        <div class="form-group mb-3">

                            <input type="submit" class="btn btn-success" value="Send">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}