{% extends 'course/base/base.html' %}
{% load static %}
{% block course %}




    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Courses</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Courses</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    {% if courses %}
        <!-- Courses Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="text-center mb-5">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>

                    <h1>{{ courses.category.title }} Courses</h1>

                </div>
                <div class="row">

                    {% for course in courses %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="rounded overflow-hidden mb-2">
                                <img class="img-fluid" src="{{ course.image.url }}" alt="">
                                <div class="bg-secondary p-4">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i class="fa text-primary mr-2"></i></small>
                                        <small class="m-0"><i class="far  text-primary mr-2"></i>{{ course.video_duration }}</small>
                                    </div>
                                    <a class="h5" href="{% url 'videos' course.id %}">{{ course.name }}</a>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            {% if course.average_rating %}
                                                <h6 class="m-0"><i
                                                        class="fa fa-star text-primary mr-2"></i>{{ course.average_rating }}
                                                    <small>{{ course.videos.comments.count }}</small>
                                                </h6>
                                            {% endif %}
                                            <h5 class="m-0">{{ course.price }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- Courses End -->
    {% endif %}
    <!-- Popular Courses Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                <h1>Our Popular Courses</h1>
            </div>
            <div class="row">

                {% for course in popular_courses %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="rounded overflow-hidden mb-2">
                            <img class="img-fluid" src="{{ course.image.url }}" alt="">
                            <div class="bg-secondary p-4">
                                <div class="d-flex justify-content-between mb-3">
                                    <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                    <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>{{ course.video_duration }}</small>
                                </div>
                                <a class="h5" href="{% url 'videos' course.id %}">{{ course.name }}</a>
                                <div class="border-top mt-4 pt-4">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="m-0">{{ course.price }}$</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Popular Courses End -->


{% endblock %}